* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #d0e7c6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.2em;
    color: #6d6d6d;
    margin-bottom: 0.5em;
}

p {
    color: #909090;
    margin-bottom: 1.5em;
}

.brand-name {
    color: #65a14f;
}

.brand-name-highlight {
    color: #000000;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
    font-size: 0.9em;
}

input[type="email"],
input[type="password"] {
    flex: 2;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1em;
    width: 100%;
}

button {
    background-color: #65a14f;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #538e3e;
}

.forgot-password {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.9em;
    color: #65a14f;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 0.9em;
}

.checkbox-container input {
    margin-right: 10px;
}

a {
    color: #65a14f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
